.formRow {
    margin-left: auto !important;
    margin-right: auto !important;
}

.formGroup {
    margin-left: auto !important;
    margin-right: auto !important;
}

.formButton {
    border-radius: 25px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center !important;
    display: flex;
}

.formHeader {
 text-align: center;
 margin-top: 10px;
}