.contactBackground {
    background-repeat: no-repeat;
    align-self: flex-end;
    background-size: cover;
    height: 800px;
}

.formRow {
    margin-left: auto !important;
    margin-right: auto !important;
}

.formGroup {
    padding-top: 15px !important;
    padding-bottom: 5px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    margin-bottom: 60px;
}

.formButton {
    border-radius: 25px !important;
    /* margin-left: auto !important;
    margin-right: auto !important;
    text-align: center !important; */
    /* display: flex; */
    float: left;
}

.formHeader {
 text-align: center;
 margin-top: 10px;
}

.contactContainer {
    max-width: 1500px;
  }
