.portfolioCard {
  padding-top: 15px !important;
  padding-bottom: 5px !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
  margin-bottom: 60px;
}

.cardStyle {
  width: 23rem !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.btn-dark {
  margin-left: auto !important;
  margin-right: auto !important;
  text-align: center !important;
  display: flex;
}

.portfolioImage {
  border-color: black;
}

.portfolioContainer {
  max-width: 1500px;
}